v-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

v-column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

v-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    v-column {
        flex: 25%;
        max-width: 25%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    v-column {
        flex: 100%;
        max-width: 100%;
    }
}